/* body {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Praise&display=swap');

body {
    background: linear-gradient(270deg, #0093e9, #80d0c7);
    background-size: 400% 400%;

    -webkit-animation: NBallGradient 9s ease infinite;
    -moz-animation: NBallGradient 9s ease infinite;
    animation: NBallGradient 9s ease infinite;
    color: #FFFFFF;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    font-family: 'Praise', cursive;
    font-size: 10rem;
    margin: -0.8rem;
    line-height: 8rem;
    text-align: center;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin: 1rem;
}

@-webkit-keyframes NBallGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes NBallGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes NBallGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.social [class*="fa fa-"] {
    background-color: #FFFFFF;
    border-radius: 40px;
    color: #43b3d7;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: auto 3px;
    width: 40px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.social [class*="fab fa-"] {
    background-color: #FFFFFF;
    border-radius: 40px;
    color: #43b3d7;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: auto 3px;
    width: 40px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.3);
}